.person {
  font-family: Arial;
  color: #000;
}

.person h1 {
  font-size: 16px;
  margin: 10px;
}

.person ul {
  margin: 0;
  font-size: 14px;
}

.person ul li {
  margin: 5px 0;
}

.hide {
  display: none !important;
}

#edit-view, #preview-view {
  width: 400px;
  height: 300px;
  background: #ccc;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 100;
}